<div id="logout" (click)="logout()" class="btn-header transparent pull-right">
  <span>
    <a title="Sign Out">
      <!-- <i class="fa fa-sign-out"></i> -->
      <fa-icon [icon]="['fas', 'sign-out-alt']" size="lg"></fa-icon>
    </a>
  </span>
</div>
