<button type="button" *ngIf="size === 'large'" mat-fab [title]="title" [ngClass]="buttonClass" [color]="color" [disabled]="disabled">
  <!-- <i class="fa fa-2x" [ngClass]="icon"></i> -->
  <fa-icon [icon]="[iconSource, icon]" size="2x"></fa-icon>
</button>
<button type="button" *ngIf="size === 'small'" mat-mini-fab [title]="title" [ngClass]="buttonClass" [color]="color" [disabled]="disabled">
  <!-- <i class="fa fa-2x" [ngClass]="icon"></i> -->
  <fa-icon [icon]="[iconSource, icon]" size="lg"></fa-icon>
</button>
