button {
  z-index: 900;

  &[mat-mini-fab] {
    i.fa-2x {
      font-size: 1.5rem;
    }
  }

  &.btn-absolute {
    position: absolute;
    &.h-align-left {
      left: 20px;
    }
    &.h-align-right {
      right: 20px;
    }
    &.v-align-top {
      top: 20px;
    }
    &.v-align-bottom {
      bottom: 20px;
    }
  }

  &.btn-fixed {
    position: fixed;
    &.h-align-left {
      left: 240px;
    }
    @media screen and (max-width: 980px) {
      &.h-align-left {
        left: 20px;
      }
    }
    &.h-align-right {
      right: 20px;
    }
    &.v-align-top {
      top: 105px;
    }
    &.v-align-bottom {
      bottom: 70px;
    }
  }
}

:host-context(.minified) {
  button.btn-fixed.h-align-left {
    left: 65px;
  }
}

button mat-fab /deep/ .mat-button-wrapper {
  padding: 14px 0;
}
