span {
  font-weight: 400;
  text-transform: uppercase;
  padding: 14px 10px 14px 11px;
  &.menu-item-parent {
    padding-left: 5px;
  }
}
i.fa {
  margin-right: 5px;
}
fa-layers {
  margin-left: 3px;
  ::ng-deep .fa-layers-counter {
    transform: scale(0.55);
    right: -5px;
    top: -5px;
  }
}
.caret-active {
  display: none;
}
a.active {
  .caret-active {
    display: block;
    position: absolute;
    right: 0;
    top: 0.5rem;
    color: #a0f !important;
  }
  // li > a::before {
  //   content: '\f0d9';
  //   font-family: FontAwesome;
  //   display: block;
  //   height: 27px;
  //   line-height: normal;
  //   width: 27px;
  //   position: absolute;
  //   right: -21px;
  //   font-size: 20px;
  //   // color: #eee;
  //   color: #a0f !important;
  // }
}

:host-context(body.minified) {
  li {
    a {
      .menu-item-parent {
        display: none;
        position: absolute;
        left: 45px;
        top: -3px;
        width: 186px;
        height: 38px;
        line-height: 38px;
        background-color: #f5f5f5;
        color: #333;
        z-index: 3;
        -webkit-box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.2);
        border-left: 1px solid #bfbfbf;
        border-top: 1px solid #d8d4d4;
        border-bottom: 1px solid #fff;
        padding-left: 12px;
      }
    }
    &:hover {
      .menu-item-parent {
        display: block !important;
      }
    }
  }
}

:host-context(ui-nav-side-menu-group-item) {
  li {
    & > a {
      padding: 7px 10px 7px 42px !important;

      & > fa-layers {
        margin-left: 0px;
      }

      & > span.menu-item-parent {
        background-color: transparent !important;
        border: 0 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        padding: 0 0 0 5px !important;
        position: relative !important;
        width: auto !important;
        left: initial !important;
        top: initial !important;
        height: auto !important;
        line-height: normal !important;
      }
      & > i {
        padding: 0 !important;
        margin: 0 !important;
      }
    }
  }
}
:host-context(.minified ui-nav-side-menu-group-item) {
  li,
  li:hover {
    a {
      padding-left: 14px !important;
      span {
        display: inline-block !important;
      }
    }
  }
}

ui-icon {
  width: 20px;
  display: inline-block;
}
