<li>
  <a [href]="link" [routerLink]="routerLink" [routerLinkActive]="['active']" [queryParamsHandling]="queryParamsHandling" (click)="click()">
    <!-- <fa-layers class="fa-fw">
      <fa-icon [icon]="[iconSource, icon]" [size]="iconSize" [ngStyle]="{color:iconColor}"></fa-icon>
      <fa-layers-counter *ngIf="iconCounter" [content]="iconCounter"></fa-layers-counter>
    </fa-layers> -->
    <ui-icon [source]="iconSource" [icon]="icon" [size]="iconSize" [spin]="iconSpin" [pulse]="iconPulse" [ngStyle]="{color:iconColor}"></ui-icon>
    <span class="menu-item-parent">{{ title }}
      <ng-content></ng-content>
    </span>
    <fa-icon class="caret-active" [icon]="['fas','caret-left']" size="lg"></fa-icon>
  </a>
</li>
