.loading-container {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  > .loading {
    display: none;
    z-index: 900;
    position: absolute;
    background-color: rgba(245, 245, 245, 0.5);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    > .spinner {
      position: absolute;
      top: 40%;
      left: 0;
      right: 0;
      margin: auto;
    }
    &.isLoading {
      display: block;
    }
  }
}
