<div class="loading-container" [style.min-width]="width" [style.min-height]="height">
  <ng-content></ng-content>
  <div class="loading" [ngClass]="{'isLoading':loading}">
    <mat-spinner diameter="50" class="spinner"></mat-spinner>
  </div>
</div>
