<div class="grid-item-ischecked">
  <ui-icon *ngIf="isChecked" style="color: #0aa66e" icon="check-circle"></ui-icon>

  <ui-icon *ngIf="!isChecked" style="color: #ac2925" icon="times-circle"></ui-icon>
</div>

