<!-- widget header -->
<header class="ui-sortable-handle">
  <div class="jarviswidget-ctrls" role="menu">
    <a href="javascript:void(0);" class="button-icon jarviswidget-toggle-btn" *ngIf="toggleBtn" (click)="toggle()">
      <fa-icon [icon]="['fas',(isToggle?'plus':'minus')]"></fa-icon>
    </a>
    <a href="javascript:void(0);" class="button-icon jarviswidget-fullscreen-btn" *ngIf="fullscreenBtn" (click)="fullscreen()">
      <fa-icon [icon]="['fas', 'expand-arrows-alt']"></fa-icon>
    </a>
  </div>
  <div class="widget-toolbar">
    <ng-content></ng-content>
  </div>
  <span class="widget-icon">
    <fa-layers>
      <fa-icon [icon]="[iconSource, icon]" [size]="iconSize" [ngStyle]="{color:iconColor}" [spin]="iconSpin" [pulse]="iconPulse"></fa-icon>
      <fa-layers-counter *ngIf="iconCounter" [content]="iconCounter"></fa-layers-counter>
    </fa-layers>
    <!-- <i class="fa" [ngClass]="icon"></i> -->
  </span>
  <h2>{{title}}</h2>
  <span class="jarviswidget-loader">
    <i class="fa fa-refresh fa-spin"></i>
  </span>
</header>
<!-- end widget header -->
