header {
  height: 34px;
  padding: 0;
  line-height: normal;
  color: #333;
  border: 1px solid #c2c2c2;
  background: #fafafa;

  > .widget-icon {
    display: block;
    width: 30px;
    height: 32px;
    position: relative;
    float: left;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    margin-right: -10px;
  }
  h2 {
    height: 100%;
    width: auto;
    display: inline-block;
    font-size: 14px;
    position: relative;
    margin: 0;
    line-height: 34px;
    font-weight: 400;
    letter-spacing: 0;
    font-family: 'Open Sans', Arial, Helvetica, Sans-Serif;
  }
  > h2 {
    margin-left: 10px;
    float: left;
  }
}

header ::ng-deep {
  a,
  a:hover {
    text-decoration: none;
  }
}

:host-context(.jarviswidget-color-blue),
:host-context(.jarviswidget-color-blueDark) {
  header {
    border-color: #45474b !important;
    background: #4c4f53;
    color: #fff;

    .jarviswidget-ctrls a {
      color: #fff !important;
    }
  }
}

:host-context(.smart-style-6) {
  header {
    border-bottom: 0;
    box-shadow: none !important;
  }
}
