<div class="grid-actions">
  <button mat-icon-button color="primary" class="btn-sm" (click)="info()" *ngIf="gridActionsDef.showInfo">
    <!-- <span class="fa fa-eye"></span> -->
    <fa-icon icon="eye"></fa-icon>
  </button>
  <button mat-icon-button color="accent" class="btn-sm" (click)="edit()" *ngIf="gridActionsDef.showEdit">
    <!-- <span class="fa fa-pencil"></span> -->
    <fa-icon icon="pencil-alt"></fa-icon>
  </button>
  <button mat-icon-button color="warn" class="btn-sm" (click)="delete()" *ngIf="gridActionsDef.showDelete">
    <!-- <span class="fa fa-remove"></span> -->
    <fa-icon icon="times"></fa-icon>
  </button>
</div>
