a:hover {
  text-decoration: none;
}
span {
  font-size: 13px;
  margin-top: -5px;
}

.flag.flag-en {
  background-position: -176px -44px;
}

.dropdown {
  transform-origin: initial !important;
  transition: initial !important;
  transition-duration: initial !important;
  backface-visibility: initial !important;
  transform: none !important;
  opacity: 100 !important;
  filter: initial !important;
}
.header-dropdown-list > li {
  display: inline-block !important;
}

.open > .dropdown-menu {
  padding: 5px 0 !important;
  -webkit-animation-name: flipInX !important;
  -moz-animation-name: flipInX !important;
  -o-animation-name: flipInX !important;
  animation-name: flipInX !important;
  -webkit-animation-duration: 0.4s !important;
  -moz-animation-duration: 0.4s !important;
  -o-animation-duration: 0.4s !important;
  animation-duration: 0.4s !important;
  -webkit-animation-fill-mode: both !important;
  -moz-animation-fill-mode: both !important;
  -o-animation-fill-mode: both !important;
  animation-fill-mode: both !important;
}
.header-dropdown-list .dropdown-menu {
  margin: 2px 0 0 !important;
}
a.dropdown-item {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  font-size: 13px;
}
.active > a.dropdown-item {
  background-color: #7cb4f2;
}
