<ul class="header-dropdown-list hidden-xs ng-cloak">
  <li class="dropdown" dropdown>
    <a href="javascript:void(0)" class="dropdown-toggle" dropdownToggle>
      <img src="assets/img/blank.gif" class="flag" [ngClass]="getFlagClass(currentLanguage)" alt="{{currentLanguage?.Alt}}">
      <span> {{currentLanguage?.Title}} </span>
    </a>
    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
      <li [class.active]="language.Key===currentLanguage?.Key" *ngFor="let language of languages">
        <a (click)="setLanguage(language)" class="dropdown-item">
          <img src="assets/img/blank.gif" class="flag" [ngClass]="getFlagClass(language)" [alt]="language.Alt"> {{language.Title}}</a>
      </li>
    </ul>
  </li>
</ul>
