<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>A propos</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-disclaimer-widget [allwaysVisible]="true"></app-disclaimer-widget>
    </div>
  </div>
  <div class="row margin-bottom-10 margin-top-10">
    <div class="col">
      <mat-card>
        <mat-card-title>
          Dernières mise à jour
        </mat-card-title>
        <p>22 novembre 2022</p>
        <ul>
          <li>Mise à jour technique saison 2022-2023</li>
        </ul>
        <p>25 octobre 2019</p>
        <ul>
          <li>Mise à jour technique saison 2019-2020</li>
        </ul>
        <p>29 octobre 2018</p>
        <ul>
          <li>Ajout du support pour IE 9+</li>
          <li>Correction d'un bug empêchant l'affichage du classement réserve</li>
          <li>Ajout de la colonne "Points perdus" aux classements</li>
        </ul>
        <p>28 octobre 2018</p>
        <ul>
          <li>Première version du projet</li>
        </ul>

      </mat-card>
    </div>
  </div>
</div>
