<li [ngClass]="{'open':isOpen}">
  <a (click)="toggle()">
    <!-- <fa-layers class="fa-fw">
      <fa-icon [icon]="[iconSource, icon]" size="lg"></fa-icon>
    </fa-layers> -->
    <ui-icon [source]="iconSource" [icon]="icon" [ngStyle]="{color:iconColor}"></ui-icon>
    <span class="menu-item-parent">{{ title }}</span>
    <b class="collapse-sign">
      <!-- <fa-icon [icon]="['far', (isOpen?'minus-square':'plus-square')]"></fa-icon> -->
      <ui-icon source="far" [icon]="(isOpen?'minus-square':'plus-square')"></ui-icon>
    </b>
  </a>
  <ul>
    <ng-content></ng-content>
  </ul>
</li>
