span.menu-item-parent {
  text-transform: uppercase;
  padding-left: 5px;
}
fa-layers{
  margin-left: 3px;
}
li {
  > ul {
    display: block !important;
    max-height: 0px;
    padding: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    transition: padding 0.2s ease-out;
  }
  &.open {
    > ul {
      display: block !important;
      max-height: 1000px;
      transition: max-height 0.7s ease-in;
      transition: padding 0.1s ease-in;
      padding: 7px 0;
    }
  }
}

:host-context(.minified) {
  b.collapse-sign {
    display: none;
  }

  li:hover {
    > ul {
      position: absolute;
      max-height: 1000px;
      width: 199px;
      left: 45px;
      padding-top: 0;
      border: 0;
      border-left: 1px solid #cacaca;
      box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
      z-index: 5;
    }
  }
}

:host-context(body.minified) {
  li {
    a {
      .menu-item-parent {
        display: none;
        position: absolute;
        left: 45px;
        top: -3px;
        width: 186px;
        height: 38px;
        line-height: 38px;
        background-color: #f5f5f5;
        color: #333;
        z-index: 3;
        -webkit-box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.2);
        border-left: 1px solid #bfbfbf;
        border-top: 1px solid #d8d4d4;
        border-bottom: 1px solid #fff;
        padding-left: 12px;
      }
    }
    &:hover {
      .menu-item-parent {
        display: block!important;
      }
    }
  }
}

:host ::ng-deep ui-nav-side-menu-item > li > a > span.menu-item-parent {
  text-transform: none;
}

