section {
  &.Classic {
    input {
      display: block;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 100%;
      height: 32px;
      line-height: 32px;
      outline: 0;
      border-width: 1px !important;
      border-style: solid;
      border-radius: 0;
      background: #fff;
      font: 13px/16px 'Open Sans', Helvetica, Arial, sans-serif;
      color: #404040;
      appearance: normal;
      -moz-appearance: none;
      -webkit-appearance: none;
    }
    i.icon-append {
      border-width: 1px !important;
    }
  }
  div.note-error {
    display: none;
  }
}

:host(.ng-invalid.ng-dirty) {
  section {
    input {
      border-color: #a90329;
    }
    i.icon-append {
      color: #ed1c24;
    }
    div.note-error {
      display: block;
    }
    &.Classic {
      input {
        background: #fff0f0;
      }
    }
  }
}
