<section [ngClass]="InputStyle[inputStyle]">
  <label class="label" *ngIf="label">{{ label }}</label>
  <label class="input">
    <!-- <i class="icon-append fa" [ngClass]="icon"></i> -->
    <fa-icon class="icon-append" [icon]="['fas', icon]"></fa-icon>
    <input #input [type]="inputTypeConverted" [disabled]="isDisabled" (keyup)="Change($event)" [placeholder]="placeholder" />
    <b class="tooltip tooltip-top-right" *ngIf="tooltip">
      <!-- <i class="fa txt-color-teal" [ngClass]="icon"></i> -->
      <fa-icon class="txt-color-teal" [icon]="['fas', icon]"></fa-icon>
      <!-- Please enter email address/username -->
      {{ tooltip }}
    </b>
  </label>
  <div class="note note-error" *ngIf="errorTxt">{{ errorTxt }}</div>
</section>
