.header {
  display: block;
  height: 49px;
  margin: 0;
  padding: 0 13px 0 0;
  background-color: #f3f3f3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e2e2e2));
  background-image: linear-gradient(to bottom, #f3f3f3, #e2e2e2);
  background-repeat: repeat-x;
  position: relative;
  z-index: 905;

  background: #2196f3;
  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(33, 150, 243, 1) 220px,
    rgba(33, 150, 243, 1) 49%,
    rgba(33, 150, 243, 1) 100%
  ) !important;
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(255, 255, 255, 1)),
    color-stop(220px, rgba(33, 150, 243, 1)),
    color-stop(49%, rgba(33, 150, 243, 1)),
    color-stop(100%, rgba(33, 150, 243, 1))
  ) !important;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(33, 150, 243, 1) 220px,
    rgba(33, 150, 243, 1) 49%,
    rgba(33, 150, 243, 1) 100%
  ) !important;
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(33, 150, 243, 1) 220px,
    rgba(33, 150, 243, 1) 49%,
    rgba(33, 150, 243, 1) 100%
  ) !important;
  background: -ms-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgba(33, 150, 243, 1) 220px,
    rgba(33, 150, 243, 1) 49%,
    rgba(33, 150, 243, 1) 100%
  ) !important;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(33, 150, 243, 1) 220px,
    rgba(33, 150, 243, 1) 49%,
    rgba(33, 150, 243, 1) 100%
  ) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#2196f3', GradientType=1 ) !important;

  .logo-group {
    display: inline-table;
    height: 100%;
    > span {
      margin-left: 9px;
      display: table-cell;
      height: 39px;
      float: left;
      .logo:before {
        display: none;
      }
    }
    .appTitle {
      font-family: 'Open Sans', Arial, Helvetica, Sans-Serif;
      color: #fff;
      display: table-cell;
      vertical-align: middle;
    }

    @media only screen and (max-width: 640px) {
      .appTitle {
        display: none;
      }
    }
  }
  .logo {
    width: 90px;
    box-sizing: content-box;
    margin-top: 0px !important;

    img {
      width: 84px;
      display: block;
      // background-color: #FFF;
      // border-radius: 46%;
      // padding: 0px 4px;
      // margin-left: 15px;
    }
  }
}
