<header class="header">

  <div class="logo-group">
    <span class="logo">
      <img src="assets/img/elisa.png" alt="elisa-logo">
    </span>
    <h3 class="appTitle" *ngIf="title">{{title}}</h3>
  </div>

  <!-- pulled right: nav area -->
  <div class="pull-right">

    <ng-content></ng-content>

    <!-- multiple lang dropdown -->
    <!-- <sa-language-selector></sa-language-selector> -->
    <!-- end multiple lang -->

  </div>
  <!-- end pulled right: nav area -->

</header>
