<ui-main-content-widget>
  <ui-main-content-widget-header [title]="getTitle()" iconSource="fas" icon="calendar-alt" [toggleBtn]="true"
    [fullscreenBtn]="false">
    <button type="button" (click)="refresh()" class="btn btn-primary">
      <ui-icon [source]="'fas'" [icon]="'sync-alt'"></ui-icon>
    </button>
  </ui-main-content-widget-header>
  <ui-main-content-widget-body class="no-padding">
    <ui-loading [loading]="loading">
      <section [style.height.px]="calculatedHeight">
        <ui-grid [gridColumnDefs]="gridColumnDefs" (gridReady)="onGridReady($event)" [gridData]="gridData" [noFilter]="false"
          [gridOptions]="gridOptions" (rowDataChanged)="onRowDataChanged()">
        </ui-grid>
      </section>
    </ui-loading>
  </ui-main-content-widget-body>
</ui-main-content-widget>
