<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary" href="#" routerLink="/" routerLinkActive="active">Accueil</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" routerLink="/calendar" routerLinkActive="active">Calendriers</a>
      <a mat-list-item href="#" routerLink="/ranking" routerLinkActive="active">Classements</a>
      <a mat-list-item href="#" routerLink="/links" routerLinkActive="active">Liens</a>
      <a mat-list-item href="#" routerLink="/about" routerLinkActive="active">A propos</a>
      <!-- <a mat-list-item href="https://www.volleynews.be" target="_blank">Volleynews</a> -->
      <!-- <a mat-list-item href="#" routerLink="/cups" routerLinkActive="active">Coupes</a>
      <a mat-list-item href="#" routerLink=/clubs" routerLinkActive="active">Clubs</a>
      <a mat-list-item href="#" routerLink="/coaches" routerLinkActive="active">Coaches</a>
      <a mat-list-item href="#" routerLink="/players" routerLinkActive="active">Listes de force</a>
      <a mat-list-item href="#" routerLink="/venues" routerLinkActive="active">Salles et terrains</a>
      <a mat-list-item href="#" routerLink="/referees" routerLinkActive="active">Désignations</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Portail Volleynews.be</span>
    </mat-toolbar>
    <div class="container-fluid">
      <app-disclaimer-widget [allwaysVisible]="false"></app-disclaimer-widget>
      <div class="row">
        <div class="col">
          <mat-card class="section" style="margin:5px">
            <mat-card-content>
              <router-outlet></router-outlet>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
