<div class="form-group row">
  <label class="col-form-label" [ngClass]="labelClass" [for]="inputId">{{label}}</label>
  <div [ngClass]="inputClass">
    <input type="text" class="form-control" [id]="inputId" [placeholder]="placeholder" (keyup)="change($event)" [disabled]="isDisabled">
    <i class="form-control-feedback fa"></i>
    <small class="help-block">
      {{helpMessage}}
    </small>
  </div>
</div>
