// adjust the icons path
$ag-mat-icons-path: '~ag-grid/src/styles/material-icons/';
$ag-icons-path: '~ag-grid/src/styles/icons/';

@import '~ag-grid/src/styles/ag-grid';

// set the colors to the ones from the material theme
// $ag-mat-primary: mat-color($primary);
// $ag-mat-accent: mat-color($accent);

// Set the colors to blue and amber
$ag-mat-primary: #2196f3; // blue-500
$ag-mat-accent: #ffd740; // amber-A200

$active: #4caf50; // #e91e63; // pink-500 from https://www.materialui.co/colors
// Import the ag-Grid material-next theme
// @import '~ag-grid/src/styles/ag-theme-material';
@import '~ag-grid/src/styles/ag-theme-balham';
// @import '~ag-grid/src/styles/ag-theme-bootstrap';
// @import '~ag-grid/src/styles/ag-theme-blue';
// @import '~ag-grid/src/styles/ag-theme-dark';
// @import '~ag-grid/src/styles/ag-theme-fresh';
