//@import '~@angular/material/prebuilt-themes/indigo-pink.css';
// @import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$volleynews-app-primary: mat-palette($mat-green, 500);
$volleynews-app-accent: mat-palette($mat-green, 700, 600, 800);

// The warn palette is optional (defaults to red).
$volleynews-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$volleynews-app-theme: mat-light-theme(
  $volleynews-app-primary,
  $volleynews-app-accent,
  $volleynews-app-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($volleynews-app-theme);

// Include the theme styles for only specified components.
// @include mat-form-field-theme($volleynews-app-theme);
