.mat-snack-bar-container.success-snackbar {
  background-color: rgb(115, 158, 115);
  color: #fff;
}
.mat-snack-bar-container.error-snackbar {
  background-color: rgb(196, 106, 105);
  color: #fff;
}
