@import './smartadmin/smartadmin-angular-next.css';
@import './smartadmin/smartadmin-production-plugins.min.css';
@import './smartadmin/smartadmin-production.min.css';
@import './smartadmin/smartadmin-rtl.min.css';
@import './smartadmin/smartadmin-skins.min.css';

/* scrollbar overrided */

body.smart-style-6 ::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

body.smart-style-6 ::-webkit-scrollbar:horizontal {
  height: 10px;
}

body.smart-style-6 ::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
body.smart-style-6 ::-webkit-scrollbar-thumb:vertical,
body.smart-style-6 ::-webkit-scrollbar-thumb:horizontal {
  background: rgba(0, 0, 0, 0.2);
}
#jarviswidget-fullscreen-mode {
  z-index: 1000 !important;
}
