<div id="fullscreen" class="btn-header transparent pull-right">
  <span>
    <a (click)="onToggle()" title="Full Screen">
      <!-- <i class="fa fa-arrows-alt"></i> -->
      <fa-icon [icon]="['fas', 'expand-arrows-alt']" size="lg"></fa-icon>
    </a>
  </span>
</div>
