<!-- <div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div> -->

<!-- <div class="container-fluid"> -->
<div class="row">
  <div class="col-12 col-xl-6 margin-top-10">
    <mat-card>
      <mat-card-title>
        Euromillion Volley League
      </mat-card-title>
      <app-grid-ranking [queryFilter]="LAHFilter"></app-grid-ranking>
      <mat-card-actions></mat-card-actions>
    </mat-card>

  </div>
  <div class="col-12 col-xl-6  margin-top-10">
    <mat-card>
      <mat-card-title>
        Ligue A Dames
      </mat-card-title>
      <app-grid-ranking [queryFilter]="LADFilter"></app-grid-ranking>
    </mat-card>
  </div>
</div>
<!-- </div> -->
