<fieldset>
 <ng-content></ng-content>
  <!-- <section>
          <label class="checkbox">
              <input type="checkbox" name="remember"
                ng-model="user.rememberme"
                checked>
              <i></i>Stay signed in</label>
      </section> -->
</fieldset>
