:host-context(body.minified) {
  .login-info {
    display: none;
  }
}

div.login-info {
  position: relative;
  background: url('/assets/img/BannerCamion.jpg') no-repeat center center;
}

.login-username {
  display: block;
  background: rgba(0, 0, 0, 0.3);
  height: auto !important;
  padding: 5px 0 5px 10px !important;
  color: #fff;
  text-transform: capitalize;
  font-size: 14px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-overflow: ellipsis;
  vertical-align: middle;
}
