.widget-div {
  zoom: 1;
  float: left;
  width: 100%;
  position: relative;
  font-size: 13px;
  margin: 0;
  border-width: 1px 1px 2px;
  border-style: solid;
  border-top: none;
  border-right-color: #ccc !important;
  border-bottom-color: #ccc !important;
  border-left-color: #ccc !important;
  padding: 13px 13px 0;
  overflow: visible;
  background-color: #fff !important;
  max-height: 5000px;
  transition: max-height 0.7s ease-in;
  transition: padding 0.1s ease-in;
}

:host-context(.no-padding) {
  .widget-div {
    padding: 0 0 0 0;
    .widget-body{
      padding: 0;
    }
  }
}

:host-context(.table-padding) {
  .widget-div {
    padding: 20px 0 0 0;
    .widget-body{
      padding: 0;
    }
  }
}

:host-context(.jarviswidget-collapsed) {
  .widget-div {
    max-height: 0px;
    padding: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    transition: padding 0.2s ease-out;
  }
}
