<!-- widget div-->
<div #widgetDiv class="widget-div">

  <!-- widget edit box -->
  <div class="jarviswidget-editbox">
    <!-- This area used as dropdown edit box -->

  </div>
  <!-- end widget edit box -->

  <!-- widget content -->
  <div class="widget-body" [ngClass]="{'no-padding':noPadding}">
    <ng-content></ng-content>
  </div>
  <!--end  widget content-->

</div>
<!-- end widget div-->
