.form-group {
  font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
  margin-bottom: 10px;
  label {
    margin-bottom: 5px;
  }
  small {
    display: none;
  }
  i.form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: none;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    pointer-events: none;
  }
  label ~ i.form-control-feedback {
    top: 1.7rem;
  }
}

:host(.style-classic) {
  .form-group {
    input {
      border-width: 1px;
      padding-left: 14px;
    }
  }
}

:host(.ng-invalid.ng-dirty) {
  .form-group {
    input[type='text'] {
      border-color: #b94a48;
    }
    small {
      &.help-block {
        display: block;
        color: #b94a48;
        margin-top: 5px;
      }
    }
  }
}
:host(.ng-valid.ng-dirty) {
  .form-group {
    input[type='text'] {
      border-color: #468847;
    }
    small {
      &.help-block {
        // display: block;
        color: #468847;
        margin-top: 5px;
      }
    }
  }
}

/* label-feedback css */

:host(.label-feedback.ng-invalid.ng-dirty) {
  .form-group {
    label {
      color: #b94a48;
      font-weight: bolder;
    }
  }
}

:host(.label-feedback.ng-valid.ng-dirty) {
  .form-group {
    label {
      color: #468847;
    }
  }
}

/* has-feedback css */
:host(.has-feedback) {
  .form-group {
    position: relative;
    input {
      padding-right: 40px;
    }
  }
}
:host(.has-feedback.ng-dirty) {
  .form-group {
    i.form-control-feedback {
      font-size: 1rem;
      display: block;
    }
  }
}

:host(.has-feedback.ng-invalid.ng-dirty) {
  .form-group {
    i.form-control-feedback {
      color: #b94a48;
      &::before {
        content: '\f00d';
      }
    }
  }
}

:host(.has-feedback.ng-valid.ng-dirty) {
  .form-group {
    i.form-control-feedback {
      color: #468847;
      &::before {
        content: '\f00c';
      }
    }
  }
}
