<div class="form-group">
  <label [for]="inputId">{{label}}</label>
  <input type="text" class="form-control" [id]="inputId" [placeholder]="placeholder" (keyup)="change($event)" [disabled]="isDisabled">
  <i class="form-control-feedback fa"></i>
  <small class="help-block">
    {{helpMessage}}
  </small>
</div>
