<footer>
    <img src="assets/img/pulsar_logo.png" width="90px" style="padding-top:10px; padding-left:10px;" alt="Pulsar Consulting" title="Pulsar Consulting" />
    <ng-content></ng-content>
</footer>
