<h1 mat-dialog-title *ngIf="data.title">{{data.title}}</h1>
<mat-dialog-content>
  <p>
    {{data.text}}
  </p>
</mat-dialog-content>
<mat-dialog-actions class="btn-container">
  <button type="button" mat-raised-button (click)="cancel()">{{data.cancelBtn}}</button>
  <button type="button" class="btn-confirm" mat-raised-button [color]="data.confirmColor" (click)="confirm()">{{data.confirmBtn}}</button>
</mat-dialog-actions>
