<ol class="breadcrumb">
  <li class="breadcrumb-item" [ngClass]="{'active':br.active}" *ngFor="let br of breadcrumps">
    <a class="link" href="javascript:void(0)" (click)="itemClick(br)">{{br.title}}</a>
  </li>
</ol>
