:host-context(body.smart-style-6) {
  ol.breadcrumb {
    display: flex !important;
    li.breadcrumb-item {
      font-size: 0.75rem;
      color: #374850;
      + .breadcrumb-item::before {
        display: inline-block;
        padding: 0 0.3rem;
        color: #ccc;
        content: '/';
      }
      &.active > a.link {
        color: #6c757d !important;
      }
    }
  }
}
