<mat-tab-group>
  <mat-tab *ngFor="let championship of championshipList" label="{{shortenChampionshipName(championship.Nom)}}">
    <ng-template matTabContent>
      <div [ngSwitch]="_queryType" class="padding-top-10">
        <app-grid-calendar *ngSwitchCase="fvwbQueryType.PagingCalendar" [queryFilter]="getQueryFilter(championship.ChampionshipId)"></app-grid-calendar>
        <!-- <app-grid-ranking *ngSwitchCase="fvwbQueryType.PagingCalendar" [queryFilter]="getQueryFilter(championship.ChampionshipId)"></app-grid-ranking> -->
        <div *ngSwitchCase="fvwbQueryType.PagingRanking">
          <app-grid-ranking [queryFilter]="getQueryFilter(championship.ChampionshipId)"></app-grid-ranking>
          <app-grid-calendar [queryFilter]="getQueryFilter(championship.ChampionshipId)" [dataFilter]="recentDataFilter"></app-grid-calendar>
          <app-grid-synoptic [queryFilter]="getQueryFilter(championship.ChampionshipId)"></app-grid-synoptic>
          <app-grid-ranking *ngIf="championship.WithReserve" [queryFilter]="getQueryFilter(championship.ChampionshipId)"
            isReserve="true"></app-grid-ranking>
        </div>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
