<mat-tab-group>
  <mat-tab *ngFor="let district of districtList" label="{{district.Litteral}}">
    <ng-template matTabContent>
      <app-championship-selector [queryType]="fvwbQueryType.PagingCalendar" [districtId]="district.Id"></app-championship-selector>
    </ng-template>
  </mat-tab>
</mat-tab-group>
