div.calendar-container {
  &.hidden-today ::ng-deep .fc-bg .fc-today {
    background: none;
    border-color: #dee2e6;
  }
  & > div ::ng-deep {
    .fc-toolbar {
      & > .fc-left {
        float: left;
      }
      & > .fc-right > .btn-group {
        margin: -12px 10px 0 0;
      }
    }

    /* overide of the event style*/

    a.fc-event {
      border-bottom: 1px solid #fff!important;
      &.fc-short > div.fc-content {
        & > div.fc-time {
          &::before,
          &::after {
            display: none;
          }
          & > span {
            display: inline;
          }
        }
        & > div.fc-title {
          padding: 3px 2px 2px 4px;
          font-size: 11px;
        }
      }
    }

    /* overide of the btn style*/
    .btn-primary {
      color: #212529;
      background-color: #f8f9fa !important;
      border-color: #f8f9fa !important;
    }

    .btn-primary:hover {
      color: #212529;
      background-color: #e2e6ea !important;
      border-color: #dae0e5 !important;
    }

    .btn-primary:focus,
    .btn-primary.focus {
      box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5) !important;
      background-color: #e2e6ea !important;
      border-color: #dae0e5 !important;
    }

    .btn-primary.disabled,
    .btn-primary:disabled {
      color: #212529;
      background-color: #f8f9fa !important;
      border-color: #f8f9fa !important;
    }

    .btn-primary:not(:disabled):not(.disabled):active,
    .btn-primary:not(:disabled):not(.disabled).active,
    .show > .btn-primary.dropdown-toggle {
      color: #212529 !important;
      background-color: #dae0e5 !important;
      border-color: #d3d9df !important;
    }

    .btn-primary:not(:disabled):not(.disabled):active:focus,
    .btn-primary:not(:disabled):not(.disabled).active:focus,
    .show > .btn-primary.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5) !important;
    }
  }
}
