<span class="minifyme" (click)="toggle()">
  <!-- <i class="fa fa-arrow-circle-left hit"></i> -->
  <fa-icon class="hit" [icon]="['fas',(minified?'arrow-circle-right':'arrow-circle-left')]"></fa-icon>
</span>
