<fa-icon *ngIf="source !== 'mat' && source !== 'svg' && icon" [icon]="[source, icon]" [size]="size" [spin]="spin" [pulse]="pulse"
  [transform]="transform"></fa-icon>
<div *ngIf="settingHtml" class="hidden" #contentWrapper>
  <ng-content></ng-content>
</div>

<svg *ngIf="source === 'svg' && icon === 'weight'" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" height="26px"
  width="26px" style="margin:-5px 0;" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality"
  fill-rule="nonzero" clip-rule="evenodd" viewBox="0 0 10240 10240" xmlns:xlink="http://www.w3.org/1999/xlink">
  <path id="curve0" fill="#000000" d="M5120 1280c707,0 1280,573 1280,1280 0,233 -62,452 -171,640l990 0c280,0 518,172 607,438l1493 4480c139,416 -168,842 -607,842l-7184 0c-439,0 -746,-426 -607,-842l1493 -4480c89,-266 327,-438 607,-438l990 0c-109,-188 -171,-407 -171,-640 0,-707 573,-1280 1280,-1280zm0 640c-353,0 -640,287 -640,640 0,353 287,640 640,640 353,0 640,-287 640,-640 0,-353 -287,-640 -640,-640z"
  />
</svg>
