<li [ngClass]="{'active':isActive,'complete':isCompleted, 'disabled':isDisabled}" id="nav-step-{{step.Id}}" (click)="click()">
  <span class="badge" [ngClass]="{'badge-info':isActive, 'badge-success':isCompleted}">{{step.Id}}</span>
  <span class="title">{{step.Title}}</span>
  <span class="hellip" *ngIf="titleToLong">&hellip;</span>
  <span class="chevron"></span>
</li>
