li {
  width: 225px;
  max-width: 225px;
  font-family: 'Open Sans', Arial, Helvetica, Sans-Serif;
  &.disabled {
    color: #fff !important;
    cursor: default !important;
    background: #ededed !important;
    // background-image: linear-gradient(
    //   225deg,
    //   #ededed 25%,
    //   #999999 25%,
    //   #999999 50%,
    //   #ededed 50%,
    //   #ededed 75%,
    //   #999999 75%,
    //   #999999 100%
    // ) !important;
    // background-size: 5.66px 5.66px !important;
    .chevron:before {
      border-left: 14px solid #ededed !important;
    }
    .badge {
      background-color: #999 !important;
    }
  }
  & > span.hellip {
    position: absolute;
    right: 8px;
    top: 0px;
  }
  & > span.title {
    display: block;
    max-width: 176px;
    padding-left: 28px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
  }
  .badge {
    position: absolute;
    display: block;
    top: 13px;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    // vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: #999;
    border-radius: 10px;
    &.badge-info {
      background-color: #17a2b8;
    }
    &.badge-success {
      background-color: #468847;
    }
  }
}
