<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Liens utiles</h1>
    </div>
  </div>
  <div class="row">
    <mat-card class="col">
      <mat-card-header>
        <mat-card-title>
          Volleynews
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div><a href="https://www.volleynews.be" target="blank">Site officiel</a></div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row margin-top-5">
    <mat-card class="col">
      <mat-card-header>
        <mat-card-title>
          Euromillion Volley League
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div><a href="https://www.euromillionsvolleyleague.be" target="blank">Site officiel</a></div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="row margin-top-5">
    <mat-card class="col">
      <mat-card-header>
        <mat-card-title>
          Volley Vlaanderen
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div><a href="https://www.volleyvlaanderen.be" target="blank">Site officiel</a></div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row margin-top-5">
    <mat-card class="col">
      <mat-card-header>
        <mat-card-title>
          Fédération royale belge de volley-ball
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <div><a href="http://www.frbvb.be" target="blank">Site officiel</a></div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row margin-top-5">
    <mat-card class="col">
      <mat-card-header>
        <mat-card-title>
          Fédération Volley Wallonie Bruxelles (FVWB)
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div><a href="https://www.fvwb.be" target="blank">Site officiel</a></div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row margin-top-5">
    <mat-card class="col">
      <mat-card-header>
        <mat-card-title>
          Portail FVWB
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div><a href="https://www.portailfvwb.be" target="blank">Site officiel</a></div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
