<div class="container-fluid">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-title>
          Potail Volleynews - Documentation des widgets pour les clubs
        </mat-card-title>
        <p>Cette section contiendra la documentation à destination des webmasters des clubs</p>
      </mat-card>
    </div>
  </div>
</div>
