<div class="wizard">
  <div #stepContainer class="steps-container">
    <ul class="steps" *ngIf="!manualInit" [ngStyle]="{'margin-left.px':marginLeft}">
      <ng-content></ng-content>
    </ul>
    <ul class="steps" *ngIf="manualInit" [ngStyle]="{'margin-left.px':marginLeft}">
      <ui-wizard-nav-step *ngFor="let step of steps" [stepId]="step.Id" [title]="step.Title"></ui-wizard-nav-step>
    </ul>
  </div>
  <div #stepAction class="actions" *ngIf="showNavBtn">
    <button type="button" class="btn btn-sm btn-primary btn-prev" (click)="prev()" [disabled]="isFirstStep">
      <fa-icon [icon]="['fas','arrow-left']"></fa-icon>
      <!-- <i class="fa fa-arrow-left"></i> -->
      {{prevBtn}}
    </button>
    <button type="button" class="btn btn-sm btn-success btn-next" (click)="next()">
      {{isLastStep ? finishBtn : nextBtn}}
      <fa-icon [icon]="['fas',(isLastStep?'check-circle':'arrow-right')]"></fa-icon>
      <!-- <i *ngIf="!isLastStep" class="fa fa-arrow-right"></i>
      <i *ngIf="isLastStep" class="fa fa-check-circle"></i> -->
    </button>
  </div>
</div>
