div#signInBox {
  width: 400px;
  margin: auto;
  // padding-top: 100px;
  .well {
    min-height: 20px;
    border-radius: 2px;
    background-color: #fbfbfb;
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px #ececec;
    -webkit-box-shadow: 0 1px 1px #ececec;
    -moz-box-shadow: 0 1px 1px #ececec;
  }
}
