header {
  padding: 15px 13px;
  margin: 0;
  border-bottom-color: rgba(0, 0, 0, 0.1);
  background: rgba(248, 248, 248, 0.9);
  font-size: 16px;
  font-weight: 300;
  color: #232323;
  // border-bottom: 1px dashed rgba(0,0,0,.2);
}

