.ui-grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .ui-grid-header {
    flex: 1;
    width: 100%;
    .filters {
      position: relative;
      width: 100%;
      min-height: 55px;
      border-top: 0.84375em solid transparent;
      padding: 13px 220px 0 10px;
      & > .filter {
        border: 1px solid;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
          0 1px 5px 0 rgba(0, 0, 0, 0.12);
        padding: 10px 5px 5px 5px;
        margin-right: 5px;
        border-radius: 2px;
      }
      > .search-input {
        position: absolute;
        top: 0;
        right: 10px;
      }
    }
  }
  .ui-grid-body {
    flex: 1 100%;
    overflow: hidden;
    flex-grow: 1;
    width: 100%;
  }
}
