<div class="ui-grid">
  <div class="ui-grid-header">
    <div class="filters" *ngIf="!noFilter">
      <mat-checkbox class="filter" *ngFor="let filter of gridFilters" [(ngModel)]="filter.isActive" (change)="onExternalFilterChanged()"
        [style.color]="(filter.filterColor || '#000000')" [style.border-color]="(filter.filterColor || '#000000')"
        [ngStyle]="{'box-shadow':getBoxShadowColor(filter.filterColor || '#000000')}">{{filter.label}}</mat-checkbox>
      <mat-form-field class="search-input">
        <input matInput [placeholder]="quickSearchLabel" (keyup)="onFilterTextBoxChanged()" (blur)="onFilterTextBoxChanged()"
          [(ngModel)]="searchObject.quickSearch" value="">
        <span matSuffix>
          <fa-icon icon="search" size="lg"></fa-icon>
          &nbsp;
        </span>
      </mat-form-field>
    </div>
  </div>
  <div class="ui-grid-body">
    <ag-grid-angular #agGrid style="width: 100%; height: 100%;" class="ag-theme-balham" suppressColumnVirtualisation=true
      (gridReady)="onGridReady($event)" [gridOptions]="gridOptions" [pagination]="pagination" [icons]="icons">
    </ag-grid-angular>
  </div>
</div>
