<div class="page-footer" [ngClass]="{'no-side-bar':NoSideBar, 'fidex-footer':FixedFooter}">
  <div class="row">
    <div class="col-xs-12 col-sm-2 col-lg-1">
      <img src="assets/img/pulsar_glow.png" height="35" alt="Pulsar-Logo">
      <!--<span class="txt-color-white">Version 1.0.0.0 <span class="hidden-xs"> - Environnement : </span>Production <i class="fa fa-industry"></i></span> -->
    </div>
    <div class="col-sm-9 col-lg-10 hidden-xs">
      <ng-content></ng-content>
    </div>
    <div class="col-sm-1 col-lg-1 text-right hidden-xs">
      <div class="txt-color-white inline-block pull-right">
        <div class="txt-color-blueLight text-center hidden-mobile">
          <strong id="time">{{dtNow | date:'H:mm:ss'}}</strong>
          <br/>
          <strong id="date">{{dtNow | date:'dd/MM/yyyy'}}</strong>
        </div>
      </div>
    </div>
  </div>
</div>
