<div *ngIf="this.isPermanent || isDisclaimerVisible()" class="row margin-bottom-10 margin-top-10">
  <div class="col">
    <mat-card>
      <mat-card-title>
        Portail Volleynews.be
      </mat-card-title>
      <p>Ce site web est un site expérimental en cours de développement. L'ensemble des données affichées proviennent
        du <a href="https://www.portailfvwb.be" target="_blank">Portail de la FVWB</a></p>
      <p>Si vous constatez un bug ou souhaitez faire des suggestions de fonctionnalités, vous pouvez
        nous contacter par mail à l'adresse <a href="mailto:info@volleynews.be?subject=Portail">
          info@volleynews.be</a> ou rejoindre le <a href="https://www.facebook.com/groups/277393336234014/" target="_blank">Groupe
          Facebook</a> dédié à ce projet
      </p>
      <mat-card-actions>
        <button *ngIf="!this.isPermanent" mat-raised-button (click)="hideDisclaimer()">OK, ne plus afficher ce
          message</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
