<mat-tab-group>
  <mat-tab *ngFor="let district of districtList" label="{{district.Litteral}}">
    <app-championship-selector [queryType]="fvwbQueryType.PagingRanking" [districtId]="district.Id"></app-championship-selector>
  </mat-tab>
</mat-tab-group>
